.button{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #C6FF00;
  display: inline-block;
  float: left;
  margin: 8px 0px 0px 8px;
  padding: 8px 10px 8px 10px;
  background: #424242;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #616161;
  transition: background 0.4s, box-shadow 0.4s;
}
.button:hover{
  box-shadow: 0px 2px 5px #424242;
}
.button:active{
  background: #212121;
}
#sidebarName{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #212121;
  width: 100%;
  position: relative;
  margin: 20px 0px 20px 0px;
  text-align: center;
}
#sidebarImage{
  position: relative;
  width: 100px;
  left: calc(50% - 50px);
  margin: 0px 0px 20px 0px;
  background: #424242;
  border-radius: 10px;
}
.parameterTitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: #212121;
  width: 100%;
  position: relative;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
input[type=text]{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: calc(100% - 68px);
  position: relative;
  left: 20px;
  margin: 0px 0px 10px 0px;
  padding: 8px 10px 8px 10px;
  border: 0px;
  background: #EEEEEE;
  border-radius: 2px;
  transition: background 0.4s;
}
.parameterField{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: calc(100% - 68px);
  position: relative;
  left: 20px;
  margin: 0px 0px 10px 0px;
  padding: 8px 10px 8px 10px;
  border: 0px;
  background: #EEEEEE;
  border-radius: 2px;
  transition: background 0.4s;
}
input[type=text]:focus{
  background: #BDBDBD;
}
#deleteButton{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #E0E0E0;
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 232px;
  padding: 8px 10px 8px 10px;
  background: #d32f2f;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #616161;
  text-align: center;
  transition: background 0.4s, box-shadow 0.4s;
}
#deleteButton:hover{
  box-shadow: 0px 2px 5px #424242;
}
#deleteButton:active{
  background: #b71c1c;
}
#applyButton{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #E0E0E0;
  display: block;
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 232px;
  padding: 8px 10px 8px 10px;
  background: #F57C00;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #616161;
  text-align: center;
  transition: background 0.4s, box-shadow 0.4s;
}
#applyButton:hover{
  box-shadow: 0px 2px 5px #424242;
}
#applyButton:active{
  background: #E65100;
}
#sidebar{
  width: 300px;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 0px;
  background: #E0E0E0;
  z-index: 10;
  overflow: auto;
}
#sidebarResize{
  width: 8px;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 292px;
  background: #424242;
}
